@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

@import "tailwindcss";

body {
  font-family: "Red Hat Text";
}

@theme {
  --breakpoint-ssm: 400px;
}
/* ========================= */
/* Flip Card Animation */
/* ========================= */
.animate-flip-top {
  animation: flip-top 0.4s linear forwards;
}

.animate-flip-bottom {
  animation: flip-bottom 0.4s linear forwards;
}

@keyframes flip-top {
  to {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
