@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

@import "tailwindcss";

:root {
  --gradient-01: linear-gradient(90deg, #f37362 0%, #f6ac5e 100%);
}

.gradient-text {
  background: var(--gradient-01);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

body {
  font-family: "Red Hat Text";
}
img.fr:hover {
  filter: brightness(0) saturate(100%) invert(35%) sepia(75%) saturate(1600%)
    hue-rotate(350deg) brightness(92%) contrast(92%);

  cursor: pointer;
}

.attribution {
  letter-spacing: 0.5px;
  bottom: 1px;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;

  color: rgb(209, 154, 82);
}

/* Links */
.attribution a {
  margin: 0 0.25rem;
  text-decoration: none;
  font-weight: 600;
  color: rgb(210, 93, 50);
}

.attribution a:hover {
  opacity: 0.5;
}

/* Separator dot */
.separator {
  margin: 0 0.5rem;
  opacity: 0.6;
}

@theme {
  --breakpoint-ssm: 400px;
}
/* ========================= */
/* Flip Card Animation */
/* ========================= */
.animate-flip-top {
  animation: flip-top 0.4s linear forwards;
}

.animate-flip-bottom {
  animation: flip-bottom 0.4s linear forwards;
}

@keyframes flip-top {
  to {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
